# LLM
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=llama-3.1-8b-instant

# Database
DATABASE_URL=postgresql://username:password@host:5432/database

# Vector DB
CHROMA_PATH=./backend/storage/vector_db
CHROMA_COLLECTION=skb_chunks

# File Storage
UPLOAD_DIR=./backend/storage/files

# Security
JWT_SECRET=your_secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480