fastapi
uvicorn[standard]

pydantic
pydantic-settings

python-dotenv

asyncpg

python-multipart

passlib[bcrypt]
python-jose[cryptography]

sentence-transformers
chromadb

langgraph
langchain

groq
openai

pdfplumber
python-docx

rank-bm25

slowapi

cachetools

pytest
pytest-asyncio

ruff